<div class="middle-content">
  <div class="overlay-logo">
    <img src="assets/imagenes/congreso_logo_principal.png" alt="Logos del Congreso">
  </div>

  <div class="registrar-emprendedor">
    <button class="btn btn-register" (click)="abrirModalAceptacionTratamientoDatos()">Regístrese aquí</button>
  </div>

  <div class="asistencia-congreso">
    <button class="btn btn-register" (click)="navegarRuta('/Congreso/ingreso-congreso')">Confirme Asistencia</button>
  </div>

  <div class="agenda-congreso">
    <button class="btn btn-register" (click)="navegarRuta('/Congreso/agenda')">Agenda del evento</button>
  </div>


</div>