<div class="container mt-4">
    <div class="card mb-4 p-3 justify-content">
        <h4>Lista de inscritos al congreso</h4>
    </div>
    <div class="card mb-4 p-3">
        <table class="table table-light table-striped tabla-institucion">
            <thead class="table">
                <tr>
                    <th>Nombres</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Tipo asistente</th>
                    <th>Acepta envío comunicación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inscritoCongreso of inscritosCongresoPaginados">
                    <td class="tabla-td">{{ inscritoCongreso.nombres }} {{ inscritoCongreso.apellidos}}</td>
                    <td class="tabla-td">{{ inscritoCongreso.correo }}</td>
                    <td class="tabla-td">{{ inscritoCongreso.telefono }}</td>
                    <td class="tabla-td">{{ inscritoCongreso.nombrePais }}</td>
                    <td class="tabla-td">{{ inscritoCongreso.ciudad }}</td>
                    <td class="tabla-td">{{ inscritoCongreso.tipoAsistente }}</td>
                    <td class="tabla-td text-center">{{ inscritoCongreso.aceptaEnvioComunicacion ? 'Sí' : 'No' }}</td>

                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-between align-items-center">
        <ngb-pagination [collectionSize]="inscritosCongreso.length" [(page)]="pagina" [pageSize]="tamanoPagina"
            (pageChange)="onCambioPagina($event)">
        </ngb-pagination>

        <div class="text-center">
            <span>Total de registros: {{ totalItems }}</span>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary btn-registro-congreso w-100"
                (click)="navegarRuta('/administracion/opciones')">Regresar</button>
        </div>


    </div>
</div>