table {
  text-align: left;

  th {
    text-align: center;
  }
}

.tabla-td {
  font-size: 12px;
}

.active>.page-link,
.page-link.active {
  background: #2C5C85;
  &:hover {
    background-color: lighten(#2C5C85, 25%);
    border-color: lighten(#2C5C85, 25%);
  }
}