<div class="container mt-4">
    <div class="card mb-4 p-3 justify-content">
        <h4>Lista de Instituciones</h4>
    </div>
    <div class="card mb-4 p-3">
        <table class="table table-light table-striped table-sm tabla-institucion">
            <thead class="table">
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Departamento</th>
                    <th>Líder</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>URL Sitio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let institution of institucionesPaginadas">
                    <td class="tabla-td">{{ institution.nombre }}</td>
                    <td class="tabla-td">{{ institution.paisIES }}</td>
                    <td class="tabla-td">{{ institution.regionDepartamento }}</td>
                    <td class="tabla-td">{{ institution.nombreLiderIES }}</td>
                    <td class="tabla-td">{{ institution.correoContacto }}</td>
                    <td class="tabla-td">{{ institution.telefonoContacto }}</td>
                    <td class="tabla-td"><a [href]="institution.urlOficial" target="_blank">{{ institution.urlOficial
                            }}</a></td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-between align-items-center">
        <ngb-pagination [collectionSize]="instituciones.length" [(page)]="pagina" [pageSize]="tamanoPagina"
            (pageChange)="onCambioPagina($event)">
        </ngb-pagination>

        <div class="text-end">
            <span>Total de registros: {{ totalItems }}</span>
        </div>

    </div>
</div>