<div class="container mt-4">
    <h5>Asignación de Emprendimientos a Evaluador...</h5>
    <form [formGroup]="asignacionForm">
        <div class="card p-3 mb-3">
            <div class="form-group mb-3">
                <label for="evaluador">Seleccione Evaluador</label>
                <select class="form-select" (change)="evaluadorSeleccionado($event)" formControlName="evaluador">
                    <option value="" disabled selected>Selecciona un evaluador</option>
                    <option *ngFor="let evaluador of evaluadores" [value]="evaluador._id">{{ evaluador.nombre }}
                    </option>
                </select>
                <div *ngIf="asignacionForm.get('evaluador')?.touched && asignacionForm.get('evaluador')?.invalid"
                    class="text-danger">
                    <small>Debe seleccionar un evaluador.</small>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="text-end"></div>
            <div class="text-end">
                <button type="submit" class="btn btn-primary btn-registro-congreso w-100"
                    (click)="asignarEvaluador()">Asignar Evaluador</button>
            </div>
        </div>


        <div class="table-responsive ">
            <table class="table table-bordered table-hover table table-light table-striped">
                <thead>
                    <tr>
                        <th>Sector</th>
                        <th>Fecha creación</th>
                        <th>Estado</th>
                        <th>Descripción de la Idea</th>
                        <th>Propuesta de solución</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emprendimiento of emprendimientosPaginados">
                        <td class="tabla-td">{{ emprendimiento.nombreSector }}</td>
                        <td class="tabla-td">{{ emprendimiento.fecha }}</td>
                        <td class="tabla-td">{{ emprendimiento.estado }}</td>
                        <td class="tabla-td">{{ emprendimiento.descripcionIdea }}</td>
                        <td class="tabla-td">{{ emprendimiento.propuestaSolucion }}</td>
                        <td class="tabla-td">
                            <input type="checkbox" (change)="toggleEmprendimiento(emprendimiento._id!)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <ngb-pagination [collectionSize]="emprendimientos.length" [(page)]="pagina" [pageSize]="tamanoPagina"
                (pageChange)="onCambioPagina($event)">
            </ngb-pagination>

            <div class="text-center">
                <span>Total de registros: {{ totalItems }}</span>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary btn-registro-congreso w-100"
                    (click)="navegarRuta('/administracion/opciones')">Regresar</button>
            </div>
        </div>
    </form>
</div>