<div class="container mt-4">
    <div class="card mb-4 p-3 justify-content">
        <h4>Lista de Emprendimientos</h4>
    </div>
    <div class="card mb-4 p-3">
        <table class="table table-light table-striped tabla-institucion">
            <thead class="table">
                <tr>
                    <th>Fecha de creación</th>
                    <th>Nombre emprendedor</th>
                    <th>Estado</th>
                    <th>Descripción</th>
                    <th>Universidad</th>
                    <th>País</th>
                    <th>Región/Departamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emprendimiento of emprendimientosPaginados">
                    <td class="tabla-td">{{ emprendimiento.fecha }}</td>
                    <td class="tabla-td">{{ emprendimiento.infoEmprendedor?.nombres }} {{
                        emprendimiento.infoEmprendedor?.apellidos }}</td>
                    <td class="tabla-td">{{ emprendimiento.estado }}</td>
                    <td class="tabla-td">{{ emprendimiento.descripcionIdea }}</td>
                    <td class="tabla-td">{{ emprendimiento.IES?.nombre }}</td>
                    <td class="tabla-td">{{ emprendimiento.pais?.descripcion }}</td>
                    <td class="tabla-td">{{ emprendimiento.infoEmprendedor?.ciudadResidencia }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="d-flex justify-content-between align-items-center">
        <ngb-pagination [collectionSize]="emprendimientos.length" [(page)]="pagina" [pageSize]="tamanoPagina"
            (pageChange)="onCambioPagina($event)">
        </ngb-pagination>

        <div class="text-end">
            <span>Total de registros: {{ totalItems }}</span>
        </div>

    </div>
</div>