table {
    text-align: left;

    th {
        text-align: center;
    }
}

.tabla-td {
    font-size: 12px;
}

.tabla-institucion th {
    text-align: left;
}

.active>.page-link,
.page-link.active {
    background: #2C5C85;

    &:hover {
        background-color: lighten(#2C5C85, 25%);
        border-color: lighten(#2C5C85, 25%);
    }
}

.contenedor-paginacion {
    margin-bottom: 125px;
}

.btn-registro-congreso {
    background: #2C5C85;

    &:hover {
        background-color: lighten(#2C5C85, 25%);
        border-color: lighten(#2C5C85, 25%);
    }
}