<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-lg-2 d-md-block sidebar collapse opciones-administracion">
			<div class="position-sticky pt-3">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">
							<i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Instituciones</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-cogs fa-fw me-3"></i><span>Emprendimientos</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-cogs fa-fw me-3"></i><span>Evaluaciones</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<main class="ms-sm-auto col-lg-10 px-md-4">
			<div
				class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				<h3 class="h2">Administración</h3>
			</div>
			<div class="content">
				<!-- Your dashboard content here -->
				<div class="row">
					<div class="col-md-6">
						<div class="card mb-4 shadow-sm text-center">
							<div class="card-body">
								<h5 class="card-title">Registrar Instituciones</h5>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card mb-4 shadow-sm text-center">
							<div class="card-body">
								<h5 class="card-title">Listar Instituciones</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<br>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			</div>
		</main>
	</div>
</div>