footer {
  background: linear-gradient(180deg, #347dc3 28%, #e75b27 100%);
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  max-width: 44%;
  height: auto;

  footer .text-center {
    padding: 10px 0;
  }
}

.container {
  width: 100%;
}

@media (max-width: 768px) {
  .footer-logo img {
    width: 82%;
    max-width: 80vw;

  }
}